.pyenv
.config/nvim/addons/**
.config/configstore/*
._*
*_bak
.gitconfig
.node/**
.node_repl_history
.npm/**
.steam/**
.steampath
.steampid
.xmonad/xpm/*
Desktop/*
Documents/*
Downloads/*
gDrive/*
Music/*
dwhelper/*
Pictures/*
server_backup_files/*
Videos/*
.bash_history
.bash_logout
.bash_profile
.cabal/*
.cache/*
.config_bak/*
.emacs.d/*
.esd_auth
.go/*
.gtk-bookmarks
.gtkrc-2.0
.icons/*
.julia/*
.julia-1.5.3/*
.local/*
.mozilla
.nerd-fonts/*
.p10k.zsh
.pki/*
prompt.txt
jltest.jl
.putty/*
pyenv_fedora_req.txt
.pylint.d/*
.python_history
.spacemacs.env
.ssh/*
.stack/*
.telegram/*
.thumbnails/*
.viminfo
.vscode/*
vuln.txt
.xmonad_bak/*
.xsession-errors
.xsession-errors.old
.zcompdump
.zhistory
.zoom/*
.FileZilla/*
.ghc/*
.ghcup/*
.gitignore.swp
.config/Code/*
.config/filezilla/*
.config/htop/*
.config/matplotlib/*
.config/Microsoft/*
.config/Microsoft\ Teams\ -\ Preview/*
.config/Nvidia\Corporation/*
.config/Skype/*
.config/skypeforlinux/*
.config/teams/*
.config/teamviewer/*
.config/Unkown\ Organization/*
.config/vlc/*
.config/zoomus.conf
.config/dconf/**
.config/dconf
.config/pipewire-media-session/**
.config/pulse/**
.xmonad/xmonad-x86_64-linux
.xmonad/xmonad.hi
.xmonad/xmonad.o
.xmonad/xmonad.errors
.xmonad/.stack-work
.xmonad/stack.yaml.lock
.xmonad/xmobar-git
.xmonad/xmonad-contrib-git
.xmonad/xmonad-git
.config/libreoffice/**
.config/deluge
.config/enchant
.config/libfm
.config/unity3d
.xournalpp

